{% load i18n %}
{% load bootstrap5 %}

<div class="card text-dark">
  <form
    hx-post="{% url 'timeline:project_create' %}"
    hx-swap="none">
    <div class="card-body">
      {% bootstrap_form form %}
      <button class="btn btn-success" type="submit">
        {% trans "Add" %}
        <span class="htmx-indicator spinner-border spinner-border-sm"></span>
      </button>
      <button class="btn-close"
              title="{% trans 'Dismiss' %}"
              hx-get="{% url 'timeline:project_add_button' %}"
              hx-target="#add-button"
              hx-swap="innerHTML">
      </button>
    </div>
  </form>
</div>
